.title {
  text-align: center;
}

#towers {
  counter-reset: tower-counter 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80% 20%;
}

.hidden {
    display: none;
}

div[data-towerNumber] {
  align-self: end;
  bottom: 5px;
  counter-increment: tower-counter 1;
  grid-row: 1;
}

.count {
  text-align: center;
  grid-row: 2;
}

.count::before {
  content: counter(tower-counter);
}

svg {
  bottom: 0;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: -50px;
}

svg:last-child {
  margin-bottom: 0 !important;
}

svg:first-child {
  margin-top: 50px;
}

#baloon {
  position: absolute;
  z-index: 100;
  display: none;
  border: 3px solid black;
}

#baloon.showing {
  display: inline;
}

#baloon::after {
  /* Add a triangle to the left edge */
  content: "";

  position: absolute;
  right: 100%;

  border: 10px solid black;

  border-left-color: transparent;
  border-right-color: black;
  border-top-color: transparent;
  border-bottom-color: transparent;

  width: 0;
  height: 0;

  margin: 0 auto;
}

#settings {
    border: 2px solid blue;
}